@using WA_BlogSitesi_230124.Entities

@model AppUserAuthorVM

@if(Model.AppUser !=null)
{
    @if (Model.Articles != null && Model.Articles.Count>0)
    {
        <div class="author">
            <h1>Hoşgeldin @Model.AppUser.UserName</h1>
            <p>İsim:@Model.AppUser.FirstName Soyisim:@Model.AppUser.LastName</p>
            <div class="image">
                <img src="~/@Model.AppUser.ImageFile">
            </div>
            <br />
            <h2 style="text-align:center">Makaleleriniz</h2>
            <table class="table table-secondary table-hover">
                <thead>
                    <th>Makale Adı</th>
                    <th>Makalenin Konusu</th>
                    <th>Okunma Süresi</th>
                    <th>Yayınlanma Tarihi</th>
                </thead>
                <tbody>
                    @foreach(Article article in Model.Articles)
                    {
                        <td>@article.Title</td>
                        <td>@article.Subject</td>
                        <td>@article.ReadingTime</td>
                        <td>@article.CreatedDate</td>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="author">
            <h1>Hoşgeldin @Model.AppUser.UserName</h1>
            <p>İsim:@Model.AppUser.FirstName Soyisim:@Model.AppUser.LastName</p>
            <div class="image">
                <img src="~/@Model.AppUser.ImageFile">
            </div>
           <br />
           <h2>Makaleniz bulunmamaktadır</h2>
        </div>
        
        <p>Makaleniz bulunamadı</p>
    }
}
else
{
    <p>Böyle bir kullanıcı bulunamadı</p>
}